terratowns_endpoint = "https://terratowns.cloud/api"
contra = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/contra"
  content_version = 2 
}
jobsportal = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/jobsportal"
  content_version = 1 
}